<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
</head>
<body>
    <header>
        <h1>Chintan Bhensdadiya / N01548815</h1>
    </header>
    <div class="content">
        {{{body}}}
    </div>
    <footer>
        <p>bchintan99@gmail.com</p>
    </footer>
</body>
</html>
